html, body, #map {
    margin: 0;
    height: 100%;
    width: 100%;
}

#id {
    display: none;
}

#start {
    visibility: hidden;
    font-size: 50px;
    height: 150px;
    width: 100%;
    bottom: 0%;
    font-weight: bold;
    z-index: 10;
    float: left;
    position: absolute;
    background-color: #3db1b8;
    color: white;
    border: none;
}

#start:active {
    background-color: #359196;
}


#stop {
    visibility: hidden;
    font-size: 50px;
    height: 150px;
    width: 100%;
    bottom: 0%;
    font-weight: bold;
    z-index: 10;
    float: left;
    position: absolute;
    background-color: #55964C;
    color: white;
    border: none;
}

#stop:active {
    background-color: #498840;
}

#confirm {
    visibility: hidden;
    font-size: 50px;
    height: 150px;
    width: 50%;
    bottom: 0%;
    font-weight: bold;
    z-index: 10;
    float: left;
    position: absolute;
    background-color: #55964C;
    color: white;
    border: none;
}

#confirm.active {
    background-color: #498840;
}

#cancel {
    visibility: hidden;
    font-size: 50px;
    height: 150px;
    margin-left: 50%;
    width: 50%;
    bottom: 0%;
    font-weight: bold;
    z-index: 10;
    float: left;
    position: absolute;
    background-color: #d43535;
    color: white;
    border: none;
}

#cancel.active {
    background-color: #ad2828;
}
